* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #BDB76B;
}

header {
    background-color: #ffffff;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333333d6;
}

nav ul li a:hover {
    color: #007bff;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
